input{
    width: 80%;
    padding: 1rem;
    outline: none;
    margin: 1rem;
    border-radius: .5rem;
    background-color: #f7f7f7;
}
input:focus{
    outline:1px solid #add8ad;
}
textarea{
    width: 80%;
    min-height: 40vh;
    margin: 1rem;
    outline: none;
    padding: 1rem;
    border-radius: .5rem;
    background-color: #f7f7f7;
}

textarea:focus{
    outline: 1px solid #add8ad;
}

label{
    display: block;
    
}
form{
    margin: 1rem;
    background-color: transparent;
}
.user__post--btn{
    position: relative;
}
.btn{
    position: absolute;
    left: 38%;
    text-decoration: none;
    color: #fff;
    background-color:#0275d8;
    padding: 1.2rem;
    border-radius: .5rem;
    text-transform: uppercase;
}
.btn:hover{
    background-color: #33e033;
}
