@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*,::before
,::after
{
margin: 0;
padding: 0;
box-sizing: inherit;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    font-size: 1.6rem;
    background: #f9f9f9;
}

header h1{
    text-align: center;
    color: #f7f7f7;
    font-family: 'Akaya Telivigala', cursive;
}
.user__page-title span i{
    color: black;
}
.user__page-title{
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Akaya Telivigala', cursive;
    text-transform: uppercase;
}
.user__posts{
    padding: 2rem;
    border: 1px solid #777;
    margin-bottom: 1rem;
    padding-right: 2rem;
}
/* .user__posts:hover{
    transform: translate(5px, 5px);
} */
.intro--entry{
    text-align: center;
    font-size: 3rem;
    display: none;
    font-family: 'New Tegomin', serif;
    opacity: 1;
    transition: 1s ease;
}
.intro--entry--show{
    display: block;
}
    .btn{
        margin-top: 1.5rem;
        text-decoration: none;
        border: none;
        margin-right: 5px;
        cursor: pointer;
        color: #fff;
        border-radius: .5rem;
        padding: 10px;
        outline: none;
        transition: 0.5s ease;
    }


    .btn-edit{
        background-color:#0275d8;
    }
.btn-delete{
    background-color:#d12923;
}
.btn-view{

    background-color:#2aa2c7;
}
.btn-save{
background-color:#2faacf ;
}
.btn-cancel{
background-color: #d9534f;
}


/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  line-height: 80px;
}
.sidenav  i{
    margin-right: 20px;
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
main {
  padding: 10px;
}
.span{
    font-size: 50px;
}


/* delete request  */
.post-delete-modal{
    position: fixed;
    /* visibility: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 0.5s ease-in;
    transform: translateY(-100em);
    background-color: rgba(177, 177, 177, 0.609);
    z-index: 10000;
}
.post-delete-modal-content{
    width: 40%;
    text-align: center;
    height: auto;
    border-radius: 10px;
    background-color: #05668D;
}
.delete-btn{
    width: 8em;
    margin: 1em;
    background-color: #A5BE00;
    padding: 5px;
    outline: none;
    color: black;
    border: 2px solid;
    cursor: pointer;
    border-radius: 15px;
    transition: 0.8s ease;
}
.delete-btn:hover{
    color: #A5BE00;
    background-color: rgb(0, 0, 0);
}
.delete-icon{
    font-size: 5em;
}

.edit-border{
    box-shadow: 0 2px 11px 0 rgb(255 0 0 / 98%), 0 2px 11px 0 rgb(255 4 4 / 99%);
}


.margin:not(:last-child){
    margin-bottom: 5px;
}













/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@media screen and (max-width:450px){
    .intro--entry{font-size: 1.8rem;}
}